.styleRate {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    color: #2E3B52;
}

.styleCurrency {
    font-weight: normal;
    font-size: 12px;
    line-height: 0px;
    color: #606F89;
}

td {
    line-height: 8px;
}