.page {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #606F89;
    padding-left: 432px;
}

.style {
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #606F89;
}

.group-select {
    display: flex;
}