.add {
    position: absolute;
    width: 154px;
    height: 36px;
    left: 837px;
    border-radius: 4px;
    border: none;
    background: #17af89;
    color: white;
    text-align: right;
    top: 21px;
}

.imagePlus {
    width: 21px;
    left: 10px;
    position: absolute;
    top: 6px;
}